* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f1f2f6;
    margin-top: 30px;
}

.box {
    background-color: white;
    width: 980px;
    height: 1150px;
    border: 2px solid rgb(233, 233, 233);
    margin: auto auto;
    border-radius: 6px;
}

.top-bar {
    display: flex;
    align-items: center;
    justify-content: start;
}
.username-date {
    margin-left: 30px;
    margin-top: 20px;
}

.username-date h5 {
    font-weight: bolder;
    font-size: 20px;
}

.username-date p {
    color: #737374;
}

.school-h3 {
    margin-left: 20px;
    margin-top: 20px;
    font-weight: bolder;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.school-p {
    margin-left: 20px;
    margin-top: 17px;
}
.see-button {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 96%;
    border-bottom: 2px solid rgb(200, 200, 200);
    margin-left: auto;
    margin-right: auto;
    margin-top: 27px;
}

.see-button hr {
    width: 96%;
    margin: 0 auto;
}

.see-button h3 {
    margin-bottom: 13px;
    color: #2270d5;
    font-weight: bold;
}

.button {
    width: 100px;
    height: 40px;
    background-color: #2270d5;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    border-radius: 7px;
    color: white;

}

.like-share {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 96%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 2px solid rgb(200, 200, 200);
}
.like-icon p{
    margin-left: 8px;
    font-size: 18px;
}
.like-icon {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 15px;
    margin-top: 20px;
}

.share p {
    font-size: 20px;
}

.share {
    margin-top: 20px;
    margin-bottom: 15px;
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    gap: 210px;
    margin-top: 30px;
    border-bottom: 2px solid rgb(200, 200, 200);
    width: 96%;
    margin-left: auto;
    margin-right: auto;

}
.like-button{
    display: flex;
    align-items: center;
    justify-content: center;
        margin-bottom: 15px;
}

.feedback{
    width: 96%;
    margin-top: 13px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.comments{
    width: 900px;
    height: 40px;
    border-radius: 30px;
    background-color: #f4f5f9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}



/* boz 1 */

.profile1-1 {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: aqua;
    margin-top: 20px;
    margin-left: 20px;
    background-image: url(./asset/profile\ pic.jpg);
    background-size: contain;
}

.main-img {
    width: 935px;
    height: 623px;
    background-image: url(./asset/school.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    margin-top: 14px;
}
.profile1-c{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: aqua;
    background-image: url(./asset/profile\ pic.jpg);
    background-size: contain;
}


/* box 2 */

.profile2-1 {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: aqua;
    margin-top: 20px;
    margin-left: 20px;
    background-image: url(./asset/box\ 2\ profile.jpg);
    background-size: contain;
}
.main-img2-1 {
    width: 935px;
    height: 623px;
    background-image: url(./asset/box\ 2\ hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    margin-top: 14px;
}
.profile2-c{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: aqua;
    background-image: url(./asset/box\ 2\ profile.jpg);
    background-size: contain;
}





/* box 3 */

.profile3-1 {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: aqua;
    margin-top: 20px;
    margin-left: 20px;
    background-image: url(./asset/box\ 3\ profile.jpg);
    background-size: contain;
}
.main-img3-1 {
    width: 935px;
    height: 623px;
    background-image: url(./asset/box\ 3\ hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    margin-top: 14px;
}
.profile3-c{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: aqua;
    background-image: url(./asset/box\ 3\ profile.jpg);
    background-size: contain;
}